/* Basic Reset */
.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
  } 
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --goldenrod-yellow: #d1b400ff;
    --lemon-yellow: #e1c700;
    --amber-yellow: #d8a700ff;
    --white: #ffffff;
    --whitetrans: #ffffffd8;
    --black: #000000;
    --black-variant: #1c1c1c;
  
    --heading-font: "Outfit", serif;
    --paragraph-font: "Poppins", sans-serif;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--black);
    color: #333;
  }
  

.image-container {
    position: relative;
    width: 300px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    overflow: hidden;
}

.image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.image-container img.swipe-left {
    transform: translateX(-100%);
    opacity: 0;
}

.section {
    padding: 16px;
  }

  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 16px;
  }

  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: #f9f9f9;
    width: calc(25% - 20px); /* Four cards per row */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
  }

  .card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 8px;
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }

  .card h3 {
    margin: 0 0 8px;
  }


  header img{
    width: auto;
    height: 10vmax;
  }

  /* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: var(--accent1-color);
 	position: relative;
	float: right;
	bottom: 50px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#menu::before {
	content: "☰";
  color: var(--nav-link-color);
	
}

#menu.open::before {
	content: "❎";

}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: var(--accent1-color);
	color: #fff;
  justify-content: center;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: var(--nav-hover-background-color);
	color: var(--nav-hover-link-color);
	font-weight: 700;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
  text-align: center;
}



  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .search-container {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 25px;
    padding: 5px;
    background-color: white;
    
    max-width: 500px;
    width: 20%;
    height: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .search-container input {
    border: none;
    padding: 10px;
    flex: 1;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
    outline: none;
  }
  
  .search-container button {
    background-color: #AD2831; /* Auburn */
    border: none;
    padding: 10px 15px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-container button img {
    width: 16px;
    height: 19px;
  }
  
  .search-container button:hover {
    background-color: #800E13; /* Falu Red */
  }
