/* Basic Reset */
.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
  } 
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --goldenrod-yellow: #d1b400ff;
    --lemon-yellow: #e1c700;
    --amber-yellow: #d8a700ff;
    --white: #ffffff;
    --whitetrans: #ffffffd8;
    --black: #000000;
    --black-variant: #1c1c1c;
  
    --heading-font: "Outfit", serif;
    --paragraph-font: "Poppins", sans-serif;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--black);
    color: #333;
  }

@media (min-width: 794px) {
    .headercontainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        background-color: var(--black-variant); /* Adjust as needed */
    }

    header img {
      width: auto;
      height: 5vw;
      padding: 4px;
    }
    
    .navigation {
        display: flex;
        align-items: center;
        gap: 16px; /* Adds space between items */
        list-style: none;
    }
    
    .navigation a {
        text-decoration: none;
        color: white;
        padding: 8px 12px;
        border-radius: 4px;
        font-weight: bold;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .navigation a:hover {
        background-color: var(--lemon-yellow);
        color: var(--black);
        padding: 1vw;
    }
    
    .search-container {
        display: flex;
        align-items: center;
        border-radius: 25px;
        background-color: white;
        width: 300px; /* Adjust width as needed */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .search-container input {
        border: none;
        flex: 1;
        border-radius: 25px 0 0 25px;
        font-size: 16px;
        outline: none;
    }
    
    .search-container button {
        background-color: var(--lemon-yellow); /* Auburn */
        border: none;
        padding: 10px 15px;
        border-radius: 0 25px 25px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        
        justify-content: center;
    }
    
    .search-container button img {
        width: 20px;
        height: 20px;
    }
    
    .search-container button:hover {
        background-color: var(--amber-yellow); /* Falu Red */
    }
    #menu{
      display: none;
    }
    .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}

.watch a{
  text-transform: uppercase;
  outline: 0;
  background: var(--lemon-yellow);
  position: relative;

  border: 0;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 30px;
  color: var(--black);
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
  color: var(--black);
  font-weight: bold;        
  font-size: 3vw;

  }

  .watch{
    margin: auto;
    display: flex;
    justify-content: center;
    
  }


  .watch a:hover{
    background-color: var(--amber-yellow);
  }

section h2{
    color: var(--white);
}

.sign a{
  color: var(--black);
}


