:root {
    --goldenrod-yellow: #D1B400ff;
    --lemon-yellow: #E5D914;
    --amber-yellow: #D8A700ff;
    --white: #ffffff;
    --black: #000000;
    --black-variant: #1c1c1c;

    --heading-font: 'Outfit', serif;
    --paragraph-font: 'Poppins', sans-serif;
 
}

body{
    background-color: var(--black);
}

.goldenrod-yellow{
    color: var(--goldenrod-yellow);
}


.falured{
    color: var(--lemon-yellow);
}

.amber-yellow{
    color: var(--amber-yellow);

}

.black{
    color: var(--black);
}

.gray{
    color: var(--black-variant);
    background-color: aliceblue;
}


h1,h2,h3,h4,h5,h6 {
    color: var(--white);
    font-family: var(--heading-font);
    text-align: center;

}

p{
    color: var(--white);
    font-family: "Poppins";
}

span{
    font-weight: bold;
}

header{
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid var(--amber-yellow);
    text-align: center;

}

header h1{
    color: var(--lemon-yellow);
}

section{
    border: 2px solid var(--black-variant);
    margin: 1rem;
    padding: 1rem;
    background-color: var(--black-variant);
    border-radius: 10px;
}

.wireframe img {
    display: block; /* Required for margin auto to work */
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}

footer {
    grid-area: footer; 
    padding: 10px;
    text-align: center;
    background-color: var(--accnt1-color);
    
    
  }
  
  footer p {
    color: white;
  }
  
  .lm {
    color: var(--amber-yellow);
  }

  figcaption{
    color: var(--white);
    text-align: center;
  }
