@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

:root {
    --primary-color: #004d1a;
    --secondary-color: #E2DEDE;
    --accent1-color: #003311;
    --accent2-color: #006622; 
    --heading-font: 'outfit', serif;
    --paragraph-font: 'poppins', serif;

    --nav-background-color: #003311; 
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #ffffff;
    --nav-hover-background-color: #006622; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    margin: 0;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    transition: background-color 0.3s ease;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.grid1{
    display: grid;
    grid-template-columns: auto 1fr auto / auto 1fr auto;
    gap: 20px;
}

.grid1 h1{
    padding: 2rem;
    grid-column: 1 / 4;
    text-align: left;
}

.grid1 main{
    padding: 2rem;
    grid-column: 1 / 2;
}

aside{
    padding: 2rem;
    grid-column: 2 / 3;
    border: 2px solid black;
    float: right;
}

footer{
    grid-column: 1 / 4;
    padding: 2rem;
    text-align: center;
}