@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    display: grid; /* Make the body a grid container */
    grid-template-columns: 3fr 1fr; /* Two columns: main content and aside */
    grid-template-rows: auto 1fr auto; /* Header, main content, footer */
    grid-template-areas: 
        "header header"
        "main aside"
        "footer footer"; /* Define areas for header, main, aside, and footer */
}


:root{
    --heading-font: 'outfit', serif;
    --paragraph-font: 'poppins', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

header {
    grid-area: header; /* Assign header to the grid area */
}

main {
    grid-area: main; /* Assign main to the grid area */
    margin: 1rem;
}

aside {
    grid-area: aside; /* Assign aside to the grid area */
    padding: 1rem;
    background-color: var(--secondary-color); /* Optional: Add background color */
}

footer {
    grid-area: footer; /* Assign footer to the grid area */
    padding: 2rem;
    text-align: center;
}

nav {
    background-color: #029929;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}