.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
}

:root {
    --primary-color: #004d1a;
    --secondary-color: #fdfdfd;
    --accent1-color: #003311;
    --accent2-color: #006622; 
    --heading-font: 'Outfit', serif;
    --paragraph-font: 'Poppins', sans-serif;

    --nav-background-color: #003311; 
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #ffffff;
    --nav-hover-background-color: #006622; 
    --transparent-boxes-color: rgba(255, 255, 255, 0.785);
}

body {
    font-family: "Poppins", sans-serif;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box; 
    grid-template-rows: auto 1fr auto; 
    grid-template-areas: 
        "header header"
        "main aside"
        "footer footer";
}

h1,h2,h3,h4,h5,h6{
    font-family: "Outfit", sans-serif;
}

* {
    padding: 0;
    box-sizing: border-box;
}

.hero img{
    width: 100%;
    height: auto;
    position: relative;
    bottom: 25px;
    border-bottom: 8px solid var(--accent2-color);
}

header h1{
    padding: 2.5rem;
    text-align: center;
    background-color: var(--accent1-color);

    color: var(--secondary-color);
    position: relative;
    border-bottom: 30px solid var(--accent2-color);
}

header{
    position: relative;
    z-index: 2;
}

.datas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: solid rgba(230, 111, 111, 0.507);
  padding: 10px;
}

.data{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--accent2-color);
    
}

.datadetails{
  text-align: center;
}

.data h2{
    text-align: center;
    margin-top: 20px;
}

.datadetails span{
    font-weight: bold;
}

.weather{
  width: 100%;
    text-align: center;
    text-align: center;

}

.weather img{
  width: 8rem;
    
}

.weather h2{
    margin-top: 20px;
}

.weatherdetails span{
    font-weight: bold;
}

.weatherdetails{
    text-align: center;
}

footer {
    grid-area: footer; 
    padding: 10px;
    text-align: center;
    background-color: var(--accent1-color);
    margin-top: 10px;
    box-shadow: 0 0 30px gray;
}

footer p {
    color: white;
}

.lm {
    color: yellow;
}

@media (min-width: 768px) {

    .hero img{
        width: 100%;
        height: auto;
        position: relative;
        bottom: 25px;
        border-bottom: 8px solid var(--accent2-color);
    }

    header h1{
        padding: 2.5rem;
        text-align: center;
        background-color: var(--accent1-color);

        color: var(--secondary-color);
        position: relative;
        border-bottom: 30px solid var(--accent2-color);
    }

    header{
        position: relative;
        z-index: 2;
    }

    .datas:first-of-type {
      top: 200px;
      left: 20px;
  }

    .datas {
      flex-direction: column;
      background-color:rgba(247, 243, 243, 0.9);
      max-width: 300px;
      position: absolute;
        
    }

    .data h2 {
        background-color: var(--accent1-color);
        text-align: left;
        margin-left: 1rem;
        margin-right: 4rem;
        padding-left: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        color: var(--secondary-color);
        position: relative;
        top: 9rem;
        z-index: 2;
    }

    .datadetails {

        text-align: center;
        background-color: var(--transparent-boxes-color);
        
        bottom: 45px;
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 8rem;
        margin-left: 2rem;
        /* z-index: 1; */
       
    }

    .datadetails span {
        font-weight: bold;
    }

    .datas:last-of-type {
      position: absolute;
      bottom: 100px;
      right: 20px;
  }
    .weather img{
       display: none;
    }

    .weather h2{
        background-color: var(--accent1-color);
        text-align: left;
        margin-left: 1rem;
        margin-right: 2rem;
        padding-left: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        color: var(--secondary-color);
        position: relative;
        top: 6rem;
        z-index: 2;
    }

    .datas:last-of-type h2::after {
        content: "⛅";
        opacity: 0.8;
        font-size: 2rem;
        margin-left: 10px;
    }

    .weatherdetails span{
        font-weight: bold;
    }

    .weatherdetails{
        text-align: center;
        background-color: var(--transparent-boxes-color);
        position: relative;
        bottom: 45px;
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 4rem;
        padding-top: 8rem;
        margin-left: 2rem;
        z-index: 1;
        
    }

  }