@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;700&display=swap');

body {
    font-family: var(--paragraph-font);
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    display: grid; 
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: auto 1fr auto; 
    grid-template-areas: 
        "header header"
        "main aside"
        "footer footer";
}

:root {
    --primary-color: #004d1a;
    --secondary-color: #E2DEDE;
    --accent1-color: #003311;
    --accent2-color: #006622; 
    --heading-font: 'Outfit', serif;
    --paragraph-font: 'Poppins', sans-serif;

    --nav-background-color: #003311; 
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #ffffff;
    --nav-hover-background-color: #006622; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

header {
    grid-area: header; 
    border-radius: 20px;
    background-color: #029929;
    text-align: center;
    padding: 1rem;
}

header h1 {
    color: aliceblue;
    margin: 0;
}

header nav {
    margin-top: 1rem;
    background-color: var(--nav-background-color);
    padding: 0.5rem;
    border-radius: 15px;
    justify-content: space-evenly;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly; /* Distribute space evenly */
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

header nav li {
    margin: 0;
}

header nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

main {
    grid-area: main; 
    margin-right: 10rem;
    margin-top: 10px;
    width: 96%;
    padding: 10px;
    border-radius: 20px;
}

main h2 {
    color: white;
    background-color: #029929;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    margin-top: 0;
}

main h3 {
    padding-top: 20px;
    text-align: center;
}

main p {
    padding: 10px;
    padding-top: 40px;
    margin-bottom: 40px;
    position: relative;
    bottom: 20px;
    z-index: 1;
}

main img {
    width: 150px;
    height: auto;
    float: right;
    padding: 2px;
    margin: 0 0 2rem 1rem;
    box-shadow: 0 0 30px gray;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}

aside {
    grid-area: aside;
    /*background-color: var(--secondary-color); */
    border-radius: 20px;
    padding-left: 10px;
    background-color: var();
}

aside h2 {
    color: white;
    background-color: #029929;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
}

aside p {
    padding: 10px;
    padding-top: 40px;
    background-color: var(--secondary-color);
    position: relative;
    bottom: 20px;
}

footer {
    grid-area: footer; 
    padding: 2rem;
    text-align: center;
    background-color: #029929;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0 0 30px gray;
}

footer p {
    color: white;
}
