.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
  }
  
  :root {
    --primary-color: #004d1a;
    --secondary-color: #fdfdfd;
    --accent1-color: #003311;
    --accent2-color: #006622; 
    --heading-font: 'Outfit', serif;
    --paragraph-font: 'Poppins', sans-serif;
  
    --nav-background-color: #003311; 
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #ffffff;
    --nav-hover-background-color: #006622; 
  }
  
  body {
    font-family: "Poppins", sans-serif;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box; 
    grid-template-rows: auto 1fr auto; 
    grid-template-areas: 
        "header header"
        "main aside"
        "footer footer";
  }
  
  h1,h2,h3,h4,h5,h6{
    font-family: "Outfit", sans-serif;
  }
  
  * {
      padding: 0;
      box-sizing: border-box;
  }

.hero img{
    width: 100%;
    height: auto;
    position: relative;
    bottom: 25px;
}

header h1{
    padding: 2.5rem;
    text-align: center;
    background-color: var(--accent1-color);

    color: var(--secondary-color);
    position: relative;
    border-bottom: 30px solid red;
}

header{
    position: relative;
    z-index: 2;
}

.data h2{
    text-align: center;
}

.datadetails{
    font-display: flex;
}

.datadetails p{
    text-align: left;
}



.datadetails b{
    text-align: right;
}









footer {
    grid-area: footer; 
    padding: 10px;
    text-align: center;
    background-color: var(--accent1-color);
    margin-top: 10px;
    box-shadow: 0 0 30px gray;
  }
  
  footer p {
    color: white;
  }
  
  .lm {
    color: yellow;
  }