/* Large view header and navigation */
@media (min-width: 794px) {
    header {
        background-color: #333;
        padding-top: 20px;
        padding-right: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    h1 {
        color: white;
        font-size: 2.5rem;
        margin-left: 0;
        text-align: left;
        font-family: 'Outfit', sans-serif;
    }

    #menu {
        display: none; /* Hide hamburger menu in large view */
    }

    .navigation {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: flex-end;
        list-style: none;
    }

    .navigation a {
        display: flex;
        color: white;
        text-decoration: none;
    }

    .navigation a:hover {
        background-color: #bbb;
        color: #333;
        font-weight: 700;
    }

    .stuff {
        margin: 1rem auto;
    }

    .headercontainer {
        display: flex;
      }
      
      h1 {
        flex: 1;

      }

      header h2{
        text-align: center;
      }
      
      nav {
        flex: 1;
      }

      .images {
        gap: 20px;
        display: grid; 
        grid-template-columns: repeat(3, minmax(auto, 2fr));
        place-items: center;
    }

    main{
        max-width: 100%;
        position: relative;
        bottom: 60px;
        
      }
      
      
      main{
        position: relative;
        top: 70px;
        margin: px;
      }

    figure img{
        height: 300px;
    }
      
}

footer {
    grid-area: footer; 
    padding: 10px;
    text-align: center;
    background-color: #36454f;
    margin-top: 80px;
    box-shadow: 0 0 30px gray;
}

footer p {
    color: white;
}

.lm {
    color: yellow;
}
