/* General Reset for Large Screens */
@media (min-width: 1005px) {
    header {
        padding: 90px 20px;
    }

    nav {
        display: flex;
        align-items: center;
        background-color: transparent; /* Remove background for large view */
        position: relative;
        padding: 0;
    }

    nav ul {
        display: flex;
        gap: 20px; /* Space between items */
        list-style: none;
    }

    .menu-button {
        display: none; /* Hide menu button on large screens */
    }

    header.menu-open {
        padding: 10px 20px; /* Reset padding for large screens */
    }
}
