.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}

:root {
  --primary-color: #004d1a;
  --secondary-color: #E2DEDE;
  --accent1-color: #003311;
  --accent2-color: #006622; 
  --heading-font: 'Outfit', serif;
  --paragraph-font: 'Poppins', sans-serif;

  --nav-background-color: #003311; 
  --nav-link-color: #ffffff;
  --nav-hover-link-color: #ffffff;
  --nav-hover-background-color: #006622; 
}

body {
  font-family: "Poppins", sans-serif;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box; 
  grid-template-rows: auto 1fr auto; 
  grid-template-areas: 
      "header header"
      "main aside"
      "footer footer";
}

h1,h2,h3,h4,h5,h6{
  font-family: "Outfit", sans-serif;
}

* {
	padding: 0;
	box-sizing: border-box;
}

 header h1 {
	text-align: left;
	font-family: "Outfit", serif;
	font-size: 1.5rem;
	margin-left: 1rem;
  color: white;
}

h2 {
		font-size: 1.2rem;
		color: navy;
		text-align: left;
		margin: 1rem;
	}

main h2 {
  text-align: center;
}

nav {
	max-width: 700px;
	margin: 1rem auto;
}

header{
  background-color: #333;
  padding-top: 20px;
  padding-right: 20px;
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: relative;
	float: right;
	bottom: 50px;
}

#menu::before {
	content: "☰";
  color: #bbb;
	
}

#menu.open::before {
	content: "❎";

}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
  justify-content: center;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
  text-align: center;
}

.active::before {
	  /* just a wayfinding symbol for the user */
}

figcaption{
  padding: 20px;
  font-weight: 400;
}

figure img{
  width: 300px;
  height: auto;
  justify-content: center;
  margin-left: 3px;
  
  
}
.images {
  gap: 20px;
  display: grid; 
  grid-template-columns: repeat(1, minmax(00px, 1fr)); 
  grid-gap: 20px;
  justify-content: center;

  place-items: center;}

/* large view navigation ************************************/
@media (min-width: 704px) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}
	
	h2 {
		font-size: 2rem;
		text-align: center;
	}

	

	

  main{
    max-width: 100%;
    position: relative;
    bottom: 60px;
    
  }
  
  
  main{
    position: relative;
    top: 70px;
   
  }
  
  .images {
    gap: 20px;
    display: grid; 
    grid-template-columns: repeat(2, minmax(100px, 1fr)); 
    grid-gap: 20px;

    place-items: center;}
}

figure {
    text-align: center;
    margin: 20px;
    width: 100%;
}
figure img {
    width: 98%;
    margin-right: 20px;
    height: 400px;
}




section h2{
  text-align: center;
  
}


@media (min-width: 794px) {

    #menu {
      display: none; /* Hide hamburger menu in large view */
  }

  .navigation {
      display: flex;
      gap: 20px;
      justify-content: flex-end;
      list-style: none;
  }

  .navigation a {
      color: white;
      font-size: 18px;
      text-decoration: none;
  }

  .navigation a:hover {
      background-color: #bbb;
      color: #333;
      font-weight: 700;
  }

}

footer {
  grid-area: footer; 
  padding: 10px;
  text-align: center;
  background-color: #36454f;
  margin-top: 10px;
  box-shadow: 0 0 30px gray;
}

footer p {
  color: white;
}

.lm {
  color: yellow;
}
