/* Large view header and navigation */
@media (min-width: 37.5em) {
    header {
        background-color: #333;
        padding-top: 20px;
        padding-right: 20px;
        display: flex;
        
        justify-content: space-between;
    }


    h1 {
        color: white;
        font-size: 2.5rem;
        margin-left: 0;
        text-align: left;
        font-family: 'Outfit', sans-serif;
    }

    #menu {
        display: none; /* Hide hamburger menu in large view */
    }

    .navigation {
        display: flex;
        gap: 20px;
        justify-content: flex-end;
        list-style: none;
    }

    .navigation a {
        color: white;
        font-size: 18px;
        text-decoration: none;
    }

    .navigation a:hover {
        background-color: #bbb;
        color: #333;
        font-weight: 700;
    }

    .stuff {
        margin: 1rem auto;
    }

    .headercontainer {
        display: flex;
      }
      
      h1 {
        flex: 1;

      }
      
      nav {
        flex: 1;
        align-items: right;
      }
}
