.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
  }

  body {
    font-family: "Poppins", sans-serif;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box; 
    grid-template-rows: auto 1fr auto; 
    grid-template-areas: 
        "header header"
        "main aside"
        "footer footer";
}

h1,h2,h3,h4,h5,h6{
    font-family: "Outfit", sans-serif;
}

header h1{
    position: relative;
    z-index: 2;
    padding-left: 20px;
    top: 15px;
    color: aliceblue;
}


nav {
	background-color: #36454f;
    text-align: right;
    position: relative;
    padding: 20px;
    bottom: 80px;
    margin: 0%;
    z-index: 1;
	/*max-width: 800px;*/
}
nav ul {
	list-style-type: none;
}
nav a {
	display: inline-flex;
	color: #fff;
	text-align: center;
	padding: 20px;
	text-decoration: none;
}



nav a:hover {
	text-decoration:overline;
}



.active {
	color: yellow;
}

main{
    max-width: 100%;
    position: relative;
    bottom: 60px;
    
}

figure img{
    height: 300px;
    width: 100%;
    display: grid;
    box-shadow: 0 0 30px gray;
    box-shadow: 0 0 30px gray;

}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns in each row */
     /* Space between items */
}

.images div {
    text-align: center; /* Center-align the image captions */
}

section h2{
    text-align: center;
    
}

footer {
    grid-area: footer; 
    padding: 10px;
    text-align: center;
    background-color: #36454f;
    margin-top: 10px;
    box-shadow: 0 0 30px gray;
}

footer p {
    color: white;
}





.lm {
    color: yellow;
}
